* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div {
  border: 3px dotted rgb(11, 11, 118);
  margin: 1rem 2rem 3rem 4rem;
  padding: 4rem 3rem 2rem 1rem;
  width: 39%;
  display: inline-block;
}

div:first-of-type {
  height: 300px;
  display: none;
}

div:last-of-type:hover {
  background-color: yellow;
}
